
/* Fonts */

.raleway-primary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-secondary {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    background-color: #f5f8ff;
    max-width: 1440px;
    margin: 0 auto;

}

/* Shared CSS */

.btn-primary{
    background-color: #4E47FF;
    padding: 12px 36px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.btn-primary:hover{
    background-color: #f0c30e;
    color: black;
    cursor: pointer;
}


/* Header Design */

header{
    background-image: url("../Assets/Hero-bg.png");
    background-position: cover;
    background-repeat: no-repeat;
    height: 698px;
}

.primary-header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 130px;

}

.primary-header-section h2{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;
}

.secondary-header-section{
    padding: 120px 0;
    text-align: center;
}

.secondary-header-section h2{
    margin: 0 auto 37px auto;
    width: 900px;
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

/* Action Section */

.action-section{
    display: flex;
    justify-content: space-around;
    margin: 116px 140px;
}

.action-subsection{
    width: 500px;
}

.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 23px;
}

.action-description{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    line-height: 30px;
    margin-bottom: 23px;
}



.action-section img{
    border-radius: 48px;
}

/* Productive users design */

.production-users{
    background-color: rgba(78, 71, 255, 0.1);
    margin: 0px 150px;
    padding: 50px 80px;
    text-align: center;
    border-radius: 24px;
}


.productive-action-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    line-height: 0px;
    margin-bottom: 0px;
}

.productive-users-calculation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: inter;
}

.productive-users-title{
    font-size: 80px;
    color: #4E47FF;
    font-weight: bold;
    margin-bottom: 0px;
    line-height: 60px;
}

.productive-users-description{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/* Review Section Style */

.review-section{
    margin: 137px 150px;
}

.review-section h2{
    text-align: center;
    margin-bottom: 50px;
}

.review h3{
    font-size: 28px;
    font-weight: 700;
    margin-top: 50px;
    color: #1e1e1e;
    line-height: 5px;
}

.review h4{
    font-size: 16px;
    font-weight: 500;
    color: #1e1e1e;
}

.review-by-user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.review-by-user-img img{
    border-radius: 50%;
}

.reviewer-details h5{
    color: #757575;
    font-size: 15px;
    font-weight: bold;
    line-height: 0;
}

.reviewer-details p{
    color: #757575;
    font-size: 15px;
    line-height: 0;
}

.review-card-section{
    display: flex;
    gap: 20px;
}

.review{
    border: 1px solid #f2eded;
    padding: 24px;
    border-radius: 14px;
    background-color: #fafcff;
}

/* Focus section style */

.focus-section{
    margin: 0 150px 137px;
    padding: 70px 150px;
}

.focus-section h2{
    text-align: center;
    line-height: 30px;
}

.focus-section p{
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 20px 0px;
}

.btn-align{
    text-align: center;
    margin-bottom: 20px;
}

.focus-section img{
    border-radius: 48px;
}

/* Get in touch section style */

.get-in-touch{
    margin: 0px 150px 118px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.get-in-touch-title{
    width: 500px;
    font-size: 97px;
    font-weight: bold;
    color: #000000;
}

form label, input{
    display: block;
}

.get-in-touch-form label{
    font-family: inter;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin-top: 19px;
    margin-bottom: 10px;
}

.get-in-touch-form input[type="email"], input[type="text"], textarea{
    padding: 20px 32px;
    width: 100%;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    font-family: inter;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);

}

.input-btn-primary{
    background-color: #4E47FF;
    padding: 19px 46%;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-top: 15px;

}

.input-btn-primary:hover{
    background-color: #f0c30e;
    color: black;
    cursor: pointer;
}


/* footer section style */

footer{
    width: 530px;
    margin: 104px 450px;
    text-align: center;
}

footer h2{
    color: #4E47FF;
    font-size: 100px;
    font-weight: 900;
    line-height: 0px;
}

footer p{
    font-size: 16px;
    color: #8987A1;
    line-height: 25px;
    margin-bottom: 20px;
}

footer ul{
    display: flex;
    gap: 25px;
    justify-content: center;
}

footer ul a{
    text-decoration: none;
    color: #8987A1;
}

footer ul li{
    list-style: none;
}